.footer-inner{
	height: 100vh;
	background-color: var(--cl-white);
}
.footer-inner .container{
	grid-template-rows: auto 1fr auto;
}
.footer-top {
	grid-column: 2 / -2;
	grid-row: 1 / 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	align-self: start;
	margin-top: min(4rem, 4.4444444444vh);
}

.footer-top-ic-inner {
	height: min(29.4rem, 32.66666667vh);
	display: grid;
}

.footer-top-ic-skeleton,
.footer-top-ic-main {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
}

.footer-top-ic-main svg path {
	transform: scale(0);
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer-top-title {
	width: calc((var(--container--column-gap) * 5) + (var(--container--one-column)* 6));
}
.footer-top-ic-main path {
	transform: scale(0);
	transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.footer-marquee {
	grid-column: 1 / -1;
	grid-row: 2 / 2;
	display: flex;
	flex-direction: row;
	padding-block: min(4rem, 4.4444444444vh);
	overflow: hidden;
	align-self: end;
}
.footer-marquee-inner {
	display: flex;
	flex-direction: row;
	width: max-content;
}
.footer-marquee-list {
	flex: none;
	width: max-content;
	display: flex;
	flex-direction: row;
	gap: 0.8rem;
	padding-right: 0.8rem;
}

.footer-marquee-item {
	flex: none;
	width: calc(min(16.93rem, 18.8111111111vh) * 1.5);
	height: min(16.93rem, 18.8111111111vh);
	aspect-ratio: 3 / 2;
	border-radius: 0.8rem;
	overflow: hidden;
}

.footer-bot {
	position: relative;
	grid-column: 2 / -2;
	grid-row: 3 / 3;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-self: end;
}

.footer-bot-main{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	align-self: end;
}

.footer-label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--cl-content-note);
	margin-bottom: min(6rem, 6.6666666667vh);
}

.footer-page {
	width: calc((var(--container--column-gap) * 7) + (var(--container--one-column)* 7));
}

.footer-business,
.footer-social,
.footer-date {
	width: calc((var(--container--column-gap) * 2) + (var(--container--one-column)* 3));
	margin-bottom: min(4rem, 4.4444444444vh);
}
.footer-business,
.footer-social{
	margin-right: var(--container--column-gap);
}
.footer-page-links,
.footer-business-links,
.footer-social-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: var(--container--column-gap);
	row-gap: 1.6rem;
}
.footer-page-links {
	width: 27rem;
}
.footer-page-link{
	width: fit-content;
	min-width: var(--container--one-column);
}
.footer-social-link {
	width: calc(50% - (var(--container--column-gap)/2));
}
.footer-copyright-line-1 {
	grid-column: 1 / -1;
	grid-row: 3 / 3;
	margin-top: min(3.2rem, 3.5555555556vh);
}

.footer-copyright {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: var(--cl-content-note);
	padding-block: 1.6rem;
	align-self: end;
}
.footer-bot-line,
.footer-copyright-line {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.footer-bot-line{
	margin-top: 2.8rem;
}
