/* CSS riêng cho trang Home */
.home-hero-wrap {
	position: relative;
	contain: paint;
}

.home-hero {
	margin-top: -100vh;
}

.home-hero-bg {
	position: sticky;
	top: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
	will-change: transform;
}

.home-hero-bg-inner {
	width: 100%;
	height: 100%;
	will-change: transform;
}

.home-hero-bg-overlay {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.24;
}

.home-hero-bg-overlay-main {
	position: absolute;
	inset: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	pointer-events: none;
}

.home-hero-top {
	height: 100vh;
	align-content: end;
}

.home-hero-top.top-left {
	grid-column: 2 / 10;
	grid-row: 1 / 1;
}

.home-hero-top.top-right {
	grid-column: 13 / -2;
	grid-row: 1 / 1;
}

.home-hero-desc {
	width: 12.2rem;
	color: var(--cl-white);
}

.home-hero-logo {
	margin-top: min(17rem, 17.3116089613vh);
	margin-bottom: min(3.2rem, 3.2586558045vh);
}

.home-hero-logo-ic {
	width: 65.1rem;
	color: var(--cl-brand);
}

.home-hero-top-title {
	width: 30rem;
	color: var(--cl-white);
}

.home-hero-top-ic {
	width: 3.2rem;
	margin-bottom: 4rem;
}

.home-hero-top-sub {
	margin-top: min(14rem, 14.2566191446vh);
	margin-bottom: min(13rem, 13.2382892057vh);
	color: var(--cl-white);
}

.home-hero-top-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 24.6rem;
	color: var(--cl-content-soft-2);
	margin-bottom: min(3.2rem, 3.2586558045vh);
}

.home-hero-bottom {
	grid-column: 2 / -2;
	grid-row: 2 / 2;
}

.home-hero-bottom-inner {
	position: sticky;
	top: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.home-hero-bottom-desc {
	width: 55.8rem;
	color: var(--cl-white);
	margin-bottom: 4rem;
}

.home-hero-bottom-desc svg {
	width: 3.2rem;
	color: var(--cl-brand);
}

.home-hero-decor {
	position: sticky;
	bottom: 0;
	z-index: 3;
	height: 100vh;
	margin-top: -100vh;
	mix-blend-mode: soft-light;
	pointer-events: none;
}

.home-hero-decor-inner {
	width: 290.7rem;
	color: var(--cl-brand);
	opacity: 0;
}

.home-hero-decor-svg {
	overflow: visible;
	transform: rotatez(165deg);
}

.home-hero-empty {
	height: 100vh;
}

.home-works-wrap {
	position: relative;
	margin-top: -100vh;
	background-color: var(--cl-white);
}

.home-works {
	height: 100vh;
	position: sticky;
	top: 0;
	pointer-events: none;
}

.home-works--decor {
	z-index: 2;
}

.home-works--main {
	margin-top: -100vh;
	z-index: 4;
}

.home-works-decor {
	grid-column: 2 / -2;
	grid-row: 1 / 1;
	pointer-events: none;
}

.home-works-svg {
	margin-top: 4rem;
	width: 100%;
	color: var(--cl-brand-soft-light);
	transition: color 0.4s ease;
	pointer-events: auto;
}

.home-works-main,
.home-works-bottom {
	grid-column: 2 / -2;
	grid-row: 1 / 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.home-works-main-title {
	margin-bottom: 3.2rem;
	pointer-events: auto;
}

.home-works-main-desc {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 21.3rem;
	pointer-events: auto;
}

.home-works-list {
	position: relative;
	pointer-events: none;
}

.home-works-item-img {
	border-radius: 0.8rem;
	overflow: hidden;
}

.home-works-list-inner {
	margin-top: 12.4rem;
	display: flex;
	flex-direction: column;
}

.home-works-item {
	pointer-events: auto;
	position: relative;
}

.home-works-item:nth-child(4n + 1) {
	width: 42.2rem;
	margin-left: var(--container--padding);
	z-index: 5;
}

.home-works-item:nth-child(4n + 2) {
	width: 59.6rem;
	margin-left: auto;
	margin-right: var(--container--padding);
	z-index: 3;
}

.home-works-item:nth-child(4n + 3) {
	width: 50.9rem;
	margin-left: calc(var(--container--padding) + var(--container--one-column) + var(--container--column-gap));
	z-index: 5;
}

.home-works-item:nth-child(4n) {
	width: 42.2rem;
	margin-right: calc(var(--container--padding) + var(--container--one-column) + var(--container--column-gap));
	margin-left: auto;
	z-index: 3;
}
.home-works-trans {
	position: sticky;
	top: 0;
	height: 100vh;
	overflow: hidden;
	z-index: 5;
	mix-blend-mode: difference;
	pointer-events: none;
}

.home-works-trans-inner {
	position: relative;
	width: 100vmin;
	height: 100vmin;
	margin-inline: auto;
}

.home-works-trans-item {
	position: absolute;
	mix-blend-mode: difference;
}

.home-works-trans-item:nth-child(1) {
 top: 0;
 left: 0;
}

.home-works-trans-item:nth-child(2) {
	top: 0;
	right: 0;
}
.home-works-trans-item:nth-child(3) {
	bottom: 0;
	left: 0;
}

.home-works-trans-item:nth-child(4) {
	bottom: 0;
	right: 0;
}

.home-works-trans-item-inner {
	position: relative;
	width: 25rem;
	color: var(--cl-decoy-blend); 
}

.home-works-trans-item:nth-child(1) .home-works-trans-item-inner{
	transform: translate(-100%, -100%);
}
.home-works-trans-item:nth-child(2) .home-works-trans-item-inner{
	transform: translate(100%, -100%);
}

.home-works-trans-item:nth-child(3) .home-works-trans-item-inner{
	transform: translate(-100%, 100%);
}
.home-works-trans-item:nth-child(4) .home-works-trans-item-inner{
	transform: translate(100%, 100%);
}
.home-works-bottom-title{
	text-align: center;
	opacity: 0;
	color: var(--cl-content-strong);
}
.home-works-empty {
	height: 300vh;
}

.home-how-main {
	grid-column: 2 / -2;
	grid-row: 1 / 1;
	height: 100vh;
}