@font-face {
	font-family: 'Host Grotesk';
	src: url('../assets/fonts/HostGrotesk-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Host Grotesk';
	src: url('../assets/fonts/HostGrotesk-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Host Grotesk';
	src: url('../assets/fonts/HostGrotesk-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Host Grotesk';
	src: url('../assets/fonts/HostGrotesk-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

html, body {
	font-family: 'Host Grotesk', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	color: var(--cl-content-strong);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1;
	margin: 0;
}

p{
	margin: 0;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.trans-upper{
	text-transform: uppercase;
}

.fs-80 {
	font-size: 8rem;
	line-height: 1;
}

.fs-40 {
	font-size: 4rem;
	line-height: 1.1;
	letter-spacing: -0.02em;
}

.fs-32 {
	font-size: 3.2rem;
	line-height: 1;
}

.fs-12 {
	font-size: 1.2rem;
	line-height: 1;
}

.fs-14 {
	font-size: 1.4rem;
	line-height: 1;
	letter-spacing: -0.02em;
}