@font-face {
	font-family: 'Host Grotesk';
	src: url('../assets/fonts/HostGrotesk-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Host Grotesk';
	src: url('../assets/fonts/HostGrotesk-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Host Grotesk';
	src: url('../assets/fonts/HostGrotesk-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Host Grotesk';
	src: url('../assets/fonts/HostGrotesk-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Host Grotesk';
	src: url('../assets/fonts/HostGrotesk-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

html, body {
	font-family: 'Host Grotesk', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	color: var(--cln-content-strong);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a,
span {
	margin: 0;
}

.fw-400 {
	font-weight: 400 !important;
}

.fw-500 {
	font-weight: 500!important;
}

.fw-600 {
	font-weight: 600 !important;
}

.fw-700 {
	font-weight: 700 !important;
}

.fw-800 {
	font-weight: 800 !important;
}

.upper {
	text-transform: uppercase;
}

.h0{
	font-size: 11.2rem;
	font-weight: 800;
	line-height: 0.8;
	letter-spacing: 0;
	text-transform: uppercase;
}

.h1{
	font-size: 6.4rem;
	font-weight: 600;
	line-height: 0.9;
	letter-spacing: -0.02em;
	text-transform: uppercase;
}

.h2{
	font-size: 4rem;
	font-weight: 400;
	line-height: 1.1;
	letter-spacing: -0.02em;
}

.h3 {
	font-size: 3.2rem;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -0.02em;
}

.h4 {
	font-size: 2.4rem;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -0.01em;
}


.p {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -0.01em;
}

.desc {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -0.01em;
}

.label {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
	.h0 {
		font-size: 5.6rem;
	}

	.h1 {
		font-size: 4rem;
	}

	.h2 {
		font-size: 3.2rem;
	}

	.h3 {
		font-size: 2.4rem;
	}

	.h4 {
		font-size: 2rem;
	}

	.p {
		font-size: 1.4rem;
	}

	.desc {
		font-size: 1.2rem;
	}

	.label {
		font-size: 1rem;
	}
}