---
import Layout from '../layouts/Layout.astro';
import '../styles/pages/about.css';
---

<Layout title="About - lua-project" namespace="about">
	<div class="page-about">
		<h1>About Page</h1>
		<p>This is the about page. Notice the smooth fade transition?</p>
		<div class="box box-about">ABOUT</div>
	</div>
</Layout>
