---
import '../styles/components/header.css';
---

<header class="header">
	<div class="header-inner">
		<div class="container grid">
			<div class="header-center">
				<div class="header-circle circle-left">
					<div class="header-circle-ic">
						<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 24 24" fill="none">
							<path
								d="M12.2637 24.0001C12.2637 17.5185 17.518 12.2641 23.9996 12.2641C23.9996 18.7457 18.7453 24.0001 12.2637 24.0001Z"
								fill="currentcolor"></path>
							<path
								d="M12.2637 4.76837e-05C12.2637 6.48165 17.518 11.736 23.9996 11.736C23.9996 5.25443 18.7453 4.76837e-05 12.2637 4.76837e-05Z"
								fill="currentcolor"></path>
							<path
								d="M11.7363 24.0001C11.7363 17.5185 6.48195 12.2641 0.000352859 12.2641C0.000352859 18.7457 5.25473 24.0001 11.7363 24.0001Z"
								fill="currentcolor"></path>
							<path
								d="M11.7363 4.76837e-05C11.7363 6.48165 6.48195 11.736 0.000352859 11.736C0.000352859 5.25443 5.25473 4.76837e-05 11.7363 4.76837e-05Z"
								fill="currentcolor"></path>
						</svg>
					</div>
				</div>
				<div class="header-shape">
					<div class="header-shape-ic">
						<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 20 20" fill="none">
							<rect x="1" y="8.5" width="3" height="3" rx="1.5" fill="currentcolor"></rect>
							<rect x="6" y="8.5" width="3" height="3" rx="1.5" fill="currentcolor"></rect>
							<rect x="16" y="8.5" width="3" height="3" rx="1.5" fill="currentcolor"></rect>
							<rect x="11" y="8.5" width="3" height="3" rx="1.5" fill="currentcolor"></rect>
						</svg>
					</div>
					<div class="header-shape-text">
						<p class="txt trans-upper fs-12">00:00</p>
					</div>
				</div>
				<div class="header-circle circle-right">
					<div class="header-circle-ic">
						<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 20 20" fill="none">
							<rect x="3.5" y="8.5" width="3" height="3" rx="1.5" fill="currentcolor"></rect>
							<rect x="14" y="8.5" width="3" height="3" rx="1.5" fill="currentcolor"></rect>
							<rect x="8.5" y="8.5" width="3" height="3" rx="1.5" fill="currentcolor"></rect>
							<rect x="8.5" y="13.5" width="3" height="3" rx="1.5" fill="currentcolor"></rect>
							<rect x="8.5" y="3.5" width="3" height="3" rx="1.5" fill="currentcolor"></rect>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
